body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5em 0 1.5em;
}

.music-player {
    background-color: black;
    bottom: 0;
    position: fixed;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    flex: 2;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 0.5rem 0.75rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 8px;
}
.nav-option:hover {
    line-height: 2.5rem;
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.library-options img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    opacity: 0.7;
    margin-right: 1rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons:hover {
    opacity: 1;
}

.box {
    height: 8rem;
    background-color: #232323;
    border-radius: 0.7rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    background-color: #121212;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.left {
    margin: 0.75rem;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.right button {
    margin-left: 1rem;
}

.right button i{
    font-size: 1rem;
}

.right i {
    margin-left: 1rem;
}

@media(max-width: 1000px){
    .sticky-nav .hide{
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.5;
}

h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    
}

.line {
    width: 75%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.2;
}

.album {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 25%;
    flex:1;
}

.album-img {
    height: 55px;
    width: 55px;
    border-radius: 4px;
}

.song-info {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
}

.artist-name {
    font-size: 0.75rem;
    opacity: 0.6;
    margin: 0;
}

.artist-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.song-info:hover {
    text-decoration: underline;
    cursor: pointer;
}

.album-icon {
    font-size: 1rem;
    opacity: 0.7;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}
.album-icon2 {
    font-size: 1rem;
    opacity: 0.7;
    cursor: pointer;
    height: 2.3rem;
    width: 2.5rem;
}

.album-icon:hover {
    opacity: 1;
}
.album-icon2:hover {
    opacity: 1;
}

.controls {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    min-width: 200px;
}

.control-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.control-icon i,
.control-icon img {
    font-size: 1rem;
    height: 18px;
    width: 18px;
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-icon img:hover {
    opacity: 1;
}
.control-icon i:hover {
    opacity: 1;
}


.volume {
    width: 100px;
    height: 4px;
    appearance: none;
    border-radius: 5px;
    cursor: pointer;
}

.volume::-webkit-slider-thumb {
    appearance: none;
    height: 12px;
    width: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.vol {
    height: 16px;
    width: 16px;
    object-fit: contain;
}

.player-control-icon {
    height: 1rem;
    width: 1rem;
    margin-right: 1.5rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.player-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.player {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
